.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at left bottom,
            rgb(1, 1, 1) 0%,
            rgba(171, 20, 20, 0) 70%);
    z-index: 3;
}


.hero-content {
    text-align: left;
    position: relative;
    z-index: 99;
    padding: 2rem;
    color: var(--color-background);
    max-width: 600px;
}

.hero-content h1 {
    color: var(--color-background);
    text-align: left;
    font-size: 4rem;
    line-height: 1.2;
    margin: 0;
    font-weight: 700;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        height: 60vh;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
}