@import url("./base.css");

:root {
  --color-background: #f6f5f1;
  --color-text: #343434;
  --color-link: hsl(0, 0%, 24%);
}


@font-face {
  font-family: "Abel";
  src: url("/fonts/Abel/Abel-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MomoTrustDisplay";
  src: url("/fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, a {
  font-family: "MomoTrustDisplay", sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;
  position: relative;
}

.hero-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 80dvh;
  box-sizing: border-box;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.25s ease;
}

a:hover::after {
  width: 100%;
}

body {
  background-color: var(--color-background);
  font-family: "Abel", sans-serif;
  color: var(--color-text);
  font-size: 1.2rem;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  margin-right: 1rem;
}

.header-margin {
 margin-top: 120px;
}

main {
  text-align: center;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

.headline {
  font-size: 3rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}



